<li class="mar-btm">
	<div class="media-body pad-hor">
		<div class="speech">
			<a href="#" class="media-heading"><%= message.user_name %></a>
			<p><%= message.content %></p>
			<p class="speech-time">
			<i class="fa fa-clock-o fa-fw"></i><%= message.created_at %>
			</p>
		</div>
	</div>
</li>
